@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  margin: 0;
  background: url("./images/pixel_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-container {
  font-family: 'Monofett', cursive;
  font-size: 64px;
  margin-bottom: 0px;
}

.description-container {
  font-family: 'Special Elite', cursive;
}

.start-quiz-container {
  width: 150px;
  border: none;
  padding: 15px;
  border-radius: 8px;
  background-color: #7352C7;
  box-shadow: 2px 2px 5px 0px #585656;
  color: white;
  font-family: 'Fredoka One', cursive;
  font-size: 18px;
  text-shadow:2px 3px 5px #585656;
}

.start-quiz-container:hover {
  cursor: pointer;
}

/* .questions-container {
  border: 1px solid red;
} */

/* .main-container {
  border: 1px solid red;
} */

.landing-container {
  /* border: 1px solid red; */
  margin: 5%;
  text-align: center;
  padding: 10px 40px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questions-container {
  border: 1px solid red;
  margin: 5%;
  padding: 10px 40px;
  color: white;
  font-family: 'Fredoka One', cursive;
  text-shadow:5px 4px 5px #585656;
}

.options-container {
  display: flex;
}

.check-answers-button-container {
  display: flex;
  justify-content: center;
}

.check-answers-button-container > button {
  font-size: 30px;
}

.button-option-container {
  border: 1px solid red;
}

.questions-container-test {
  position: relative;
}

.loading-button {
  position: absolute;
  top: 40vh;
  left: 80vh;
  border: none;
  width: 300px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 2px 2px 5px 0px #585656;
  border-radius: 8px;
  background-color: #ffffff70;
}
 /* -- start testing for dot-flashing -- */
.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}
 /* -- end testing for dot-flashing -- */
